<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio</title>
    <link rel="icon" href="Imagenes/icono.png">
    <link rel="stylesheet" href="css/style_Lugol.css">
</head>
<body>
    <nav class="nav">
        <div class="container__menu">
    
            <div class="menu">
                <div class="container__menu2">
                    <ul>
                        <li><a href="\laboratoriovirtual\index.php">Inicio</a></li>
                        <li><a href="Lab_SudanIII.html">Sudan III</a></li>
                        <li><a href="Lab_Lugol.html">Lugol</a></li>
                        <li><a href="Lab_Biuret.html">Biuret</a>
                        <li><a href="Lab_Benedict.html">Benedict</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="Materiales_Soluciones">
            <div class="Soluciones">
                <br>
                <h1>Solución de Lugol</h1>
                <br>
                <button id="Cambia_Solucion">
                    <img src="Imagenes/Lugol.png">
                </button>
                <button id="Reset">
                    <img src="Imagenes/reset.png">
                </button>
            </div>
            <br>
            <div class="Sustancias">
                <h1>Sustancias</h1>
                <br>
                <br>
                <br>
                <div class="Botones_Sustancias">
                    <div class="Sustancia_First">
                        <button id="Papa">
                            <img src="Imagenes/Papa.png">
                        </button>
    
                        <button id="Guisquil">
                            <img src="Imagenes/Guisquil.png">
                        </button>
                    </div>
                    <div class="Sustancias_Second">
                        <button id="Pepino">
                            <img src="Imagenes/Pepino.png">
                        </button>
    
                        <button id="Papel">
                            <img src="Imagenes/Papel.png">
                        </button>
                    </div>
                    
                </div>
            </div>


        </div>

        <div class="Caja_petri">
            <br>
            <h1>Pruebas</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="Funcionamiento_Caja">
                <img id="Caja_petri_img" src="Imagenes/Caja_petri.png">
            </div>
        </div>
    </main>
    <script src="js/main_Lugol.js"></script>
</body>
</html>