<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio</title>
    <link rel="icon" href="Imagenes/icono.png">
    <link rel="stylesheet" href="css/style_Biuret.css">
</head>
<body>
    <nav class="nav">
        <div class="container__menu">
    
            <div class="menu">
                <div class="container__menu2">
                    <ul>
                        <li><a href="\laboratoriovirtual\index.php">Inicio</a></li>
                        <li><a href="Lab_SudanIII.html">Sudan III</a></li>
                        <li><a href="Lab_Lugol.html">Lugol</a></li>
                        <li><a href="Lab_Biuret.html">Biuret</a>
                        <li><a href="Lab_Benedict.html">Benedict</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="Materiales_Soluciones">
            <div class="Soluciones">
                <br>
                <h1>Solución de Biuret</h1>
                <br>
                <button id="Cambia_Solucion">
                    <img src="Imagenes/Biuret.png">
                </button>
                <button id="Reset">
                    <img src="Imagenes/reset.png">
                </button>
            </div>
            <br>
            <div class="Sustancias">
                <h1>Sustancias</h1>
                <br>
                <br>
                <div class="Botones_Sustancias">
                    <button id="Agua">
                        <img src="Imagenes/Agua.png">
                    </button>

                    <button id="Leche_Deslactosada">
                        <img src="Imagenes/Leche_Deslactosada.png">
                    </button>

                    <button id="Leche">
                        <img src="Imagenes/Leche_entera.png">
                    </button>

                    <button id="Clara_huevo">
                        <img src="Imagenes/Clara_Huevo.png">
                    </button>
                </div>
            </div>


        </div>

        <div class="Beaker">
            <br>
            <h1>Pruebas</h1>
            <br>
            <br>
            <div class="Funcionamiento_beaker">
                <div class="Contenedor">
                <img id='Tubo' src="Imagenes/Tubo.png">
                <div class="carga" id="Cambiante"  style="--wth:50%"></div>
                </div>
            </div>
        </div>
    </main>
    <script src="js/main_Biuret.js"></script>
</body>
</html>